In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Bitcoin_data.csv")

In [3]:
df

,Date,Open,High,Low,Close,Volume,Market_Cap,Tomorrow,Target
0,2023-06-03,27252.323333,27317.051854,26958.003740,27075.129398,8.385597e+09,5.250436e+11,27119.067193,1
1,2023-06-02,26824.556981,27303.861687,26574.644421,27249.588949,1.483741e+10,5.284044e+11,27075.129398,0
2,2023-06-01,27218.412376,27346.105483,26671.721156,26819.973220,1.467897e+10,5.200450e+11,27249.588949,1
3,2023-05-31,27700.530089,27831.677804,26866.453944,27219.658608,1.565637e+10,5.277732e+11,26819.973220,0
4,2023-05-30,27745.123603,28044.759798,27588.502766,27702.348775,1.325108e+10,5.371065e+11,27219.658608,0
...,...,...,...,...,...,...,...,...,...
3684,2013-05-02,116.379997,125.599998,92.281898,105.209999,0.000000e+00,1.168517e+09,97.750000,0
3685,2013-05-01,139.000000,139.889999,107.720001,116.989998,0.000000e+00,1.298955e+09,105.209999,0
3686,2013-04-30,144.000000,146.929993,134.050003,139.000000,0.000000e+00,1.542813e+09,116.989998,0
3687,2013-04-29,134.444000,147.488007,134.000000,144.539993,0.000000e+00,1.603769e+09,139.000000,0
3688,2013-04-28,135.300003,135.979996,132.100006,134.210007,0.000000e+00,1.488567e+09,144.539993,1

In [4]:
x = df.drop(labels=['Target'],axis=1)
y = df[['Target']]

In [5]:
#numerical_cols = x.select_dtypes(exclude='object').columns

In [6]:
numerical_cols=['Open', 'High', 'Low', 'Close', 'Volume', 'Market_Cap']

In [7]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [8]:
## Numerical Pipeline
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())

    ]

)

preprocessor=ColumnTransformer([
('num_pipeline',num_pipeline,numerical_cols)
])

In [9]:
X_train = x.iloc[:-600]
X_test = x.iloc[-600:]
y_train = y.iloc[:-600]
y_test = y.iloc[-600:]

In [10]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

In [12]:
def evaluate_model(true, predicted):
    Accuracy_score = accuracy_score(true,predicted)
    return Accuracy_score

In [13]:
## Train multiple models

models={
    'LogisticRegression':LogisticRegression(),
    'DecisionTree':DecisionTreeClassifier(),
    'RandomForest':RandomForestClassifier(),
    'sgdclassifier': SGDClassifier()
}
trained_model_list=[]
model_list=[]
accuracy_list=[]
y_predict = []

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    Accuracy=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    y_predict.append(y_pred)

    print('Model Training Performance')
    print("Accuracy:",Accuracy*100)


    accuracy_list.append(Accuracy)
    
    print('='*35)
    print('\n')

c:\ProgramData\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression
Model Training Performance
Accuracy: 51.33333333333333
===================================


DecisionTree
Model Training Performance
Accuracy: 50.33333333333333
===================================

C:\Users\shreyash12\AppData\Local\Temp\ipykernel_7404\1094595780.py:16: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

RandomForest
Model Training Performance
Accuracy: 44.83333333333333
===================================


sgdclassifier
Model Training Performance
Accuracy: 51.33333333333333
===================================

c:\ProgramData\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)